{{$value := (raw_value_of .ResourceValue .Meta)}}

<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__block qor-file {{if $value.IsImage}}qor-file__image{{end}}">
    <div class="qor-fieldset">
      <textarea class="qor-file__options hidden" data-cropper-title="{{t "qor_media_library.form.crop_image" "Crop image"}}" data-cropper-cancel="{{t "qor_media_library.form.cancel" "Cancel"}}" data-cropper-ok="{{t "qor_media_library.form.ok" "OK"}}" name="{{.InputName}}" aria-hidden="true">{{if $value}}{{marshal $value}}{{end}}</textarea>
      <label class="mdl-button qor-button__icon-add portal-primary-outline" title="{{t "qor_media_library.form.choose_file" "Choose File"}}" {{if not (has_update_permission .Meta)}}disabled{{end}}>
        <input class="visuallyhidden qor-file__input" id="{{.InputId}}" name="{{.InputName}}" type="file">
        <span>Choose file...</span>
      </label>
      <span class="qor-file__filename">{{$value.GetFileName}}</span>
    </div>
  </div>
</div>
