{{$metaConfig := .Meta.Config}}

<div class="qor-field">
  <label class="qor-field__label" for="{{.InputId}}">
    {{meta_label .Meta}}
  </label>

  <div class="qor-field__block qor-file">
    {{$value := (raw_value_of .ResourceValue .Meta)}}
    <div class="qor-field__show">
    </div>

    <div class="qor-field__edit">
      <div class="qor-file__list">
        {{if $value.Files}}
          {{range $file := $value.Files}}
            <ul>
              {{if $metaConfig.Sizes}}
                {{range $key, $size := $value.GetSizes}}
                  <li>
                    <img src="{{$file.URL $key}}" data-original-url="{{$file.URL "original"}}" data-size-name="{{$key}}" data-size-resolution="{{marshal $size}}">
                    <span>{{$key}} ({{$size.Width}}&times;{{$size.Height}} px)</span>
                  </li>
                {{end}}
              {{else}}
                <li><img src="{{$value.URL}}" data-original-url="{{$value.URL "original"}}" data-size-name="original" alt="{{$value.GetFileName}}"></li>
              {{end}}
            </ul>
          {{end}}
        {{end}}

        <label class="mdl-button mdl-button--fab mdl-button--mini-fab mdl-button--primary mdl-js-button mdl-js-ripple-effect"
               data-url="{{.Context.Admin.GetRouter.Prefix}}/{{.Meta.Config.RemoteDataURL}}"
               title="{{t "qor_media_library.form.choose_file" "Choose File"}}" {{if not (has_update_permission .Meta)}}disabled{{end}}
               {{if $metaConfig.Max}}data-max="{{$metaConfig.Max}}"{{end}}>
          <i class="material-icons">file_upload</i>
        </label>
      </div>
    </div>
  </div>
</div>

{{javascript_tag "media_box"}}
{{stylesheet_tag "media_box"}}
