.media-box-choosen-template {
    display: none;
}

.qor-field__mediabox-list {
    .qor-field__mediabox-item {
        margin-bottom: 16px;
    }
    .is-svg {
        .qor-file__list > ul > li {
            line-height: 150px;
            text-align: center;
            img {
                display: inline-block;
                max-width: 90%;
            }
        }
    }
    .qor-file__list > ul {
        margin-top: 0;
        > li {
            margin-bottom: 0;
        }
    }
}

.qor-fieldset {
    .qor-field__file-item {
        &.is-svg {
            .qor-file__list > ul > li {
                background-color: #fff;
            }
        }
        .qor-file__list > ul > li {
            background-color: rgba(0, 0, 0, 0.05);
        }
    }
}

.qor-field__file-item {
    .qor-file__list > ul > li {
        background-color: #fff;

        > p {
            background: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 150px;

            span {
                padding: 0 16px;
                word-wrap: break-word;
                word-break: break-word;
                text-align: center;
                font-size: 12px;
            }
        }
    }
}

.qor-field__mediabox-item.is_deleted {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.qor-media-loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.15);
    text-align: center;
    padding-top: 40px;
    z-index: 9999;
    box-sizing: border-box;
}

/* Firefox inline-flex bug */
@-moz-document url-prefix() {
    .qor-bottomsheets__mediabox .qor-bottomsheets__body .qor-table--medialibrary tbody tr {
        margin-right: -4px;
    }
}
