.media-box-choosen-template {
  display: none;
}

.qor-bottomsheets__body{
	table:not(.qor-table--medialibrary){
		img{
			height: 48px !important;
		}
		tbody tr{
			height: 60px;
			.qor-table__content{
				overflow: inherit;
				max-height: none;
			}
		}
	}

	.qor-table--medialibrary{
		margin-left: -48px;
		width: 344px;
		img{
			max-height: 160px;
			max-width: 100%;
		}
		.mdl-card__supporting-text{
			padding: 0;
			text-align: center;
			>p{
				margin-bottom: 0;
				img {
					line-height: 162px;
        }
			}
		}

		thead{
			display: none;
		}
		tbody tr td{
			padding: 0 8px 16px 0;
			.qor-table--medialibrary-item{
				position: relative;
			}
			.qor-select__select-icon{
				left: 0;
				z-index: 2;
			}
		}
		.mdl-card{
			width: auto;
			min-height: 162px;
			max-height: 162px;
			.qor-table__actions{
				display: none;
			}
		}
		.mdl-shadow--2dp{
			box-shadow: none;
		}
	}
}

.qor-field__mediabox-item.is_deleted {
	border: 1px solid rgba(0,0,0,.12);
}
