.media-box-choosen-template {
  display: none;
}

.qor-bottomsheets__mediabox{
	max-height: 700px !important;
	.mdl-card__supporting-text,.qor-table--medialibrary-item{
		border-radius: 0 !important;
	}
	.qor-bottomsheets__body{
		table:not(.qor-table--medialibrary){
			img{
				height: 48px !important;
			}
			tbody tr{
				height: 60px;
				.qor-table__content{
					overflow: inherit;
					max-height: none;
				}
			}
		}

		.qor-table--medialibrary{
			margin-left: 0;
			width: 344px;
			img{
				max-height: 160px;
				max-width: 100%;
			}
			tr.is_selected{
				img{
					border: 4px solid #03a9f4;
					max-height: 152px;
				}

			}
			.mdl-card__supporting-text{
				padding: 0;
				text-align: center;
				>p{
					margin-bottom: 0;
				}
			}

			thead{
				display: none;
			}
			tbody tr{
				td{
					padding: 0 8px 8px 0;
					.qor-table--medialibrary-item{
						position: relative;
					}
					.qor-select__select-icon{
						left: 10px;
						top:  20px;
						z-index: 2;
						i{
							background-color: #fff;
	  						border-radius: 100%;
						}
					}
				}
			}
			.mdl-card{
				width: auto;
				min-height: 162px;
				max-height: 162px;
				.qor-table__actions{
					display: none;
				}
			}
			.mdl-shadow--2dp{
				box-shadow: none;
			}
		}
	}
}

.qor-field__mediabox-item.is_deleted {
	border: 1px solid rgba(0,0,0,.12);
}
